@model Contacto

@{
    ViewData["title"] = "Contactos - Editar";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-warning">
                <a href="@Url.Action("Inicio","Contacto")">
                    <img src="~/img/goback.png" class="img-fluid" alt="Responsive image" height="30px" width="30px">
                </a>
                <div class="d-flex flex-row-reverse">
                    <h4 class="text-light">
                        Editar contacto
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form action="@Url.Action("Editar", "Contacto")" method="post">
                    <div class="form-group">
                        <label>ID Contacto</label>
                        <input type="text" class="form-control" name="id" value="@Html.DisplayTextFor(m => m.getIdContacto())" readonly/>
                        <br />
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="nombre" value="@Html.DisplayTextFor(m => m.getNombre())" />
                        <br />
                        <label>Correo</label>
                        <input type="text" class="form-control" name="correo" value="@Html.DisplayTextFor(m => m.getCorreo())" />
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
